/* Mejoras visuales si no se navega con Tab */
body:not(.is-tabbing) * {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

/* Box-sizing universal */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Soporte semántico */
article,
aside,
header,
nav,
section {
    display: block;
}

/* Variables y fuente */
:root {
    --white: #fff;
    --black: #000;
    font-family: 'GT America', sans-serif;
}

/* Importar fuentes */
@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
        url('../assets/fonts/GT-America-Standard-Regular.woff') format('woff'),
        url('../assets/fonts/GT-America-Standard-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PradaIcons';
    src: url('../assets/fonts/prada-icons.ttf') format('truetype');
}

/* Iconos */
.icon {
    font-family: 'PradaIcons';
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    background: none !important;
}

.icon-search::before {
    content: '\E901';
}

.icon-user::before {
    content: '\E902';
}

.icon-favorite::before {
    content: '\E900';
}

.icon-cart::before {
    content: '\E904';
}

.icon-hamburguer::before {
    content: '\E905';
}


/* HTML base */
html {
    font-size: 16px;
    user-select: none;
    cursor: default;
}

/* Header */
.main-header {
    background-color: var(--white);
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'GT America', sans-serif;
}

.header_container {
    height: 100%;
    transition: all 0.4s linear 0.1s;
}

.navbar {
    max-width: 100rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Logo */
.cmp__logo {
    width: 7.813rem;
}

.cmp__logo img {
    width: 100%;
    height: auto;
}

/* Header izquierdo */
.header-left {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Menú por defecto oculto */
.menu {
    display: none;
}

/* Usuario oculto por defecto */
.header-right .user {
    display: none;
}

/* Estilos visibles a partir de 1280px */
@media (min-width: 1280px) {
    .menu {
        display: flex;
        gap: 0.79rem;
        list-style: none;
        margin: 0.7rem 0.938rem 0 1rem;
        padding: 0;
    }

    .header-right .user {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

/* Menú */
.menu li {
    flex-shrink: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--black);
    font-size: 0.6875rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

.menu li a:hover {
    color: #999;
}

/* Header derecho */
.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    padding-right: 1.25rem;
}

.header-right a {
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.header-right a:hover {
    transform: scale(1.1);
    color: #777;
}